@model IEnumerable<ScouTeams.Models.FunctionInOrganization>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FunctionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChorągiewId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HufiecId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DruzynaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZastepId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FunctionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChorągiewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HufiecId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DruzynaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZastepId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FunctionInOrganizationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FunctionInOrganizationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FunctionInOrganizationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
