@model IEnumerable<ScouTeams.Models.Contribution>
@using ScouTeams.ViewModels

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @if (ViewData["TypeOrganization"].ToString() == TypeOrganization.KwateraGlowna.ToString())
    {
        <a asp-action="ShowKwateraGlowna" asp-controller="Home">Wróć</a>
    }
    else if (ViewData["TypeOrganization"].ToString() == TypeOrganization.Choragiew.ToString())
    {
        <a asp-action="ShowChoragiew" asp-controller="Home">Wróć</a>
    }
    else if (ViewData["TypeOrganization"].ToString() == TypeOrganization.Hufiec.ToString())
    {
        <a asp-action="ShowHufiec" asp-controller="Home">Wróć</a>
    }
    else if (ViewData["TypeOrganization"].ToString() == TypeOrganization.Druzyna.ToString())
    {
        <a asp-action="ShowDruzyna" asp-controller="Home">Wróć</a>
    }
    else if (ViewData["TypeOrganization"].ToString() == TypeOrganization.Zastep.ToString())
    {
        <a asp-action="ShowZastep" asp-controller="Home">Wróć</a>
    }
</p>
<p>
    <a asp-action="Create" asp-route-id="@ViewData["ScoutID"]">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount) zł
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContributionId">Edytuj</a>
                </td>
            </tr>
        }
    </tbody>
</table>
