@model IEnumerable<ScouTeams.ViewModels.PresenceWithMeeting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Wróć", "Index", "Meetings", new { OrganizationId = ViewData["OrganizationID"], type = ViewData["OrganizationType"] })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScoutName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoutSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presence)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ScoutName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScoutSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Presence)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ScoutPresenceId">Edytuj</a>
                </td>
            </tr>
        }
    </tbody>
</table>
