@model IEnumerable<ScouTeams.ViewModels.Assignment>

@{
    ViewData["Title"] = "ShowAssignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.TypeOrganization == ScouTeams.ViewModels.TypeOrganization.KwateraGlowna)
                    @Html.ActionLink("Przejdź", "ShowKwateraGlowna", new { myAssignment = item })
                @if (item.TypeOrganization == ScouTeams.ViewModels.TypeOrganization.Choragiew)
                    @Html.ActionLink("Przejdź", "ShowChoragiew", new { myAssignment = item })
                @if (item.TypeOrganization == ScouTeams.ViewModels.TypeOrganization.Hufiec)
                    @Html.ActionLink("Przejdź", "ShowHufiec", new { myAssignment = item })
                @if (item.TypeOrganization == ScouTeams.ViewModels.TypeOrganization.Druzyna)
                    @Html.ActionLink("Przejdź", "ShowDruzyna", new { myAssignment = item })
                @if (item.TypeOrganization == ScouTeams.ViewModels.TypeOrganization.Zastep)
                    @Html.ActionLink("Przejdź", "ShowZastep", new { myAssignment = item })
            </td>
        </tr>
}
    </tbody>
</table>
