@model PaginatedList<ScouTeams.ViewModels.ScoutViewModel>
@using ScouTeams.ViewModels

@{
    ViewData["Title"] = "ShowScoutsForRecruitment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <p>
        @if (ViewData["TypeOrganization"].ToString() == TypeOrganization.KwateraGlowna.ToString())
        {
            <a asp-action="ShowKwateraGlowna">Wróć</a>

        }
        else if (ViewData["TypeOrganization"].ToString() == TypeOrganization.Choragiew.ToString())
        {
            <a asp-action="ShowChoragiew">Wróć</a>

        }
        else if (ViewData["TypeOrganization"].ToString() == TypeOrganization.Hufiec.ToString())
        {
            <a asp-action="ShowHufiec">Wróć</a>

        }
        else if (ViewData["TypeOrganization"].ToString() == TypeOrganization.Druzyna.ToString())
        {
            <a asp-action="ShowDruzyna">Wróć</a>

        }
        else if (ViewData["TypeOrganization"].ToString() == TypeOrganization.Zastep.ToString())
        {
            <a asp-action="ShowZastep">Wróć</a>

        }
    </p>

<form asp-action="ShowScoutsForRecruitment" method="get">
    <div class="form-actions no-color">
        <p>
            Znajdź po nazwie: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Szukaj" class="btn btn-default" /> |
            <a asp-action="ShowScoutsForRecruitment">Wróć do pełnej listy</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Imię
            </th>
            <th>
                <a asp-action="ShowScoutsForRecruitment" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nazwisko</a>
            </th>
            <th>
                E-mail
            </th>
            <th>
                <a asp-action="ShowScoutsForRecruitment" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data urodzenia</a>
            </th>
            <th>
                Stopień harcerski
            </th>
            <th>
                Stopień instruktorski
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScoutDegree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstructorDegree)
                </td>
                <td>
                    @Html.ActionLink("Dodaj", "AddScout", new { scoutId = item.Id, OrganizationId = ViewData["OrganizationID"], type = ViewData["TypeOrganization"] })
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="ShowScoutsForRecruitment"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Wcześniejsza
</a>
<a asp-action="ShowScoutsForRecruitment"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Następna
</a>