@model IEnumerable<ScouTeams.Models.Hufiec>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="ShowChoragiew" asp-controller="Home">Wróć</a>
</p>
<p>
    <a asp-action="Create" asp-route-id="@ViewData["OrganizationID"]">Stwórz nowy hufiec</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "Details", "Home", new { id = item.HufiecId, type = ViewData["TypeOrganization"] }) |
                    <a asp-action="Edit" asp-route-id="@item.HufiecId">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@item.HufiecId">Rozwiąż</a>
                </td>
            </tr>
        }
    </tbody>
</table>
